li {
  margin-bottom: 16px;
}

[target='_blank'] {
  border: 2px solid black;
}

a[href^='broken'] {
  border: 2px solid red;
}

a[href$='.com'] {
  margin-left: 50px;
}

a[lang*='en'] {
  font-size: 10px;
}

a[href*='www'] {
  color: green;
}

a[title~='popular'],
a[title~='super-popular'] {
  font-size: 24px;
}

li {
  margin-bottom: 16px;
}

ol span {
  background-color: green;
  color: white;
}

ul span {
  background-color: orange;
  color: white;
}

#special + li > span {
  border: 3px solid red;
}

#special ~ li {
  margin-left: 16px;
}

a {
  color: white;
  background-color: black;
}

a:visited {
  color: green;
  background-color: orange;
}

a:active,
.some-button:active {
  border: 3px solid red;
}

a:hover {
  font-size: 24px;
}

.some-button:disabled {
  border: 2px dashed grey;
}

.some-button:hover:enabled {
  background-color: grey;
  color: white;
}

.search:focus {
  background-color: orange;
}

.confirm-checkbox:checked {
  margin-left: 20px;
}

li {
  margin-bottom: 16px;
}

ul > li:first-child > span {
  background-color: red;
  color: white;
}

ul > li:last-child > span {
  background-color: black;
  color: white;
}

li:nth-child(even) > span {
  margin-left: 16px;
}

.paragraphs > p:nth-of-type(1),
.paragraphs > p:nth-of-type(3) {
  background-color: grey;
}

/* первая буква */
.theory::first-letter {
  font-size: 36px;
  margin-left: 16px;
  color: orange;
}

/* первая строка */
.theory::first-line {
  font-size: 24px;
}

/* выделение */
.theory::selection {
  background-color: red;
  color: white;
}

/* перед тем или иным значением */
a::before {
  /* указывает, что мы вставляем */
  content: '> ';
  color: green;
}

/* после того или иного значением */
a::after {
  content: ' <';
  color: green;
}

label {
  text-transform: uppercase;
}

input:checked {
  margin-left: 50px;
}

#special::first-letter {
  color: green;
  font-size: 100px;
}

h1:hover {
  color: blue;
}

a:visited {
  color: grey;
}

body {
  background-color: #bdc3c7;
}

h1 {
  color: #9b59b6;
}

h2 {
  color: orange;
}

li {
  color: blue;
}

p {
  background-color: yellow;
}

input {
  border: 3px solid red;
}

.hello {
  background-color: white;
}

#special {
  border: 2px solid blue;
}

div > p {
  font-size: 25px;
}

input[type='text'] {
  background-color: grey;
}

body > div:nth-of-type(3) > p:nth-of-type(1) {
  background-color: yellow;
}

body > div:nth-of-type(3) > p:nth-of-type(2) {
  border: 5px solid white;
}

div:nth-of-type(3) > p > em {
  font-size: 20px;
  color: white;
}

* {
  box-sizing: border-box;
}

.content {
  background-color: bisque;
  width: 500px;
  height: 200px;
  /* внутренний отступ */
  padding: 20px;
  border-top: 10px solid firebrick;
  border-right: 20px solid chartreuse;
  border-bottom: 10px dashed burlywood;
  border-left: 20px dashed aqua;
  /* внешний отступ */
  margin: 50px 100px;
  font-size: 24px;
}

.rectangle {
  width: 100px;
  height: 50px;
  background-color: forestgreen;
  border-radius: 16px;
}

.oval {
  width: 100px;
  height: 50px;
  background-color: darkmagenta;
  border-radius: 50%;
}

.cryg {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
}

.triangle {
  width: 100px;
  height: 100px;
  border: 50px solid transparent;
  border-top-color: brown;
}

.static-parent {
  position: static;
}

.relative-parent {
  position: relative;
  top: 20px;
  left: 50px;
}

.absolute-parent {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.fixed-parent {
  position: fixed;
  bottom: 20px;
  left: 30px;
}

/* обтекание по правой стороне */
.red {
  background-color: red;
  float: right;
}

/* обтекание по левой стороне */
.green {
  background-color: green;
  float: left;
}

/* Медведь */
.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-list {
  height: 40px;
  margin-top: 0;
}

.nav-item {
  color: white;
  margin-left: 16px;
  float: left;
  display: inline-block;
  line-height: 2.5;
}

.content {
  background-color: beige;
  height: 5000px;
  width: 100%;
  position: absolute;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  left: calc(33.4%);
  top: calc(3%);
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}

.horizontal {
  /* помогает создавать более гибкие макеты */
  display: flex;
  height: 50px;
  align-items: center;
  /* Отвечает за выравнивание элементов по главной оси */
  justify-content: space-around;
}

.vertical {
  display: flex;
  height: 200px;
  /* меняет ось элементов */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.block {
  height: 100px;
  width: 100px;
  /* будет ли сжиматся элемент или нет */
  flex-shrink: 0;
  /* элемент занимает всю ширину экрана при переносе */
  flex-grow: 1;
}

.container {
  display: flex;
  /* если не помещается, то переносит элемент с сохранением велечины */
  flex-wrap: wrap;
}

/* нормализирует стили */
/* <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous"
    /> */
