li {
  margin-bottom: 16px;
}

[target='_blank'] {
  border: 2px solid black;
}

a[href^='broken'] {
  border: 2px solid red;
}

a[href$='.com'] {
  margin-left: 50px;
}

a[lang*='en'] {
  font-size: 10px;
}

a[href*='www'] {
  color: green;
}

a[title~='popular'],
a[title~='super-popular'] {
  font-size: 24px;
}

li {
  margin-bottom: 16px;
}

ol span {
  background-color: green;
  color: white;
}

ul span {
  background-color: orange;
  color: white;
}

#special + li > span {
  border: 3px solid red;
}

#special ~ li {
  margin-left: 16px;
}

a {
  color: white;
  background-color: black;
}

a:visited {
  color: green;
  background-color: orange;
}

a:active,
.some-button:active {
  border: 3px solid red;
}

a:hover {
  font-size: 24px;
}

.some-button:disabled {
  border: 2px dashed grey;
}

.some-button:hover:enabled {
  background-color: grey;
  color: white;
}

.search:focus {
  background-color: orange;
}

.confirm-checkbox:checked {
  margin-left: 20px;
}

li {
  margin-bottom: 16px;
}

ul > li:first-child > span {
  background-color: red;
  color: white;
}

ul > li:last-child > span {
  background-color: black;
  color: white;
}

li:nth-child(even) > span {
  margin-left: 16px;
}

.paragraphs > p:nth-of-type(1),
.paragraphs > p:nth-of-type(3) {
  background-color: grey;
}

/* первая буква */
.theory::first-letter {
  font-size: 36px;
  margin-left: 16px;
  color: orange;
}

/* первая строка */
.theory::first-line {
  font-size: 24px;
}

/* выделение */
.theory::selection {
  background-color: red;
  color: white;
}

/* перед тем или иным значением */
a::before {
  /* указывает, что мы вставляем */
  content: '> ';
  color: green;
}

/* после того или иного значением */
a::after {
  content: ' <';
  color: green;
}

label {
  text-transform: uppercase;
}

input:checked {
  margin-left: 50px;
}

#special::first-letter {
  color: green;
  font-size: 100px;
}

h1:hover {
  color: blue;
}

a:visited {
  color: grey;
}

body {
  background-color: #bdc3c7;
}

h1 {
  color: #9b59b6;
}

h2 {
  color: orange;
}

li {
  color: blue;
}

p {
  background-color: yellow;
}

input {
  border: 3px solid red;
}

.hello {
  background-color: white;
}

#special {
  border: 2px solid blue;
}

div > p {
  font-size: 25px;
}

input[type='text'] {
  background-color: grey;
}

body > div:nth-of-type(3) > p:nth-of-type(1) {
  background-color: yellow;
}

body > div:nth-of-type(3) > p:nth-of-type(2) {
  border: 5px solid white;
}

div:nth-of-type(3) > p > em {
  font-size: 20px;
  color: white;
}

* {
  box-sizing: border-box;
}

.content {
  background-color: bisque;
  width: 500px;
  height: 200px;
  /* внутренний отступ */
  padding: 20px;
  border-top: 10px solid firebrick;
  border-right: 20px solid chartreuse;
  border-bottom: 10px dashed burlywood;
  border-left: 20px dashed aqua;
  /* внешний отступ */
  margin: 50px 100px;
  font-size: 24px;
}

.rectangle {
  width: 100px;
  height: 50px;
  background-color: forestgreen;
  border-radius: 16px;
}

.oval {
  width: 100px;
  height: 50px;
  background-color: darkmagenta;
  border-radius: 50%;
}

.cryg {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
}

.triangle {
  width: 100px;
  height: 100px;
  border: 50px solid transparent;
  border-top-color: brown;
}

.static-parent {
  position: static;
}

.relative-parent {
  position: relative;
  top: 20px;
  left: 50px;
}

.absolute-parent {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.fixed-parent {
  position: fixed;
  bottom: 20px;
  left: 30px;
}

/* обтекание по правой стороне */
.red {
  background-color: red;
  float: right;
}

/* обтекание по левой стороне */
.green {
  background-color: green;
  float: left;
}

/* Медведь */
.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-list {
  height: 40px;
  margin-top: 0;
}

.nav-item {
  color: white;
  margin-left: 16px;
  float: left;
  display: inline-block;
  line-height: 2.5;
}

.content {
  background-color: beige;
  height: 5000px;
  width: 100%;
  position: absolute;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  left: calc(33.4%);
  top: calc(3%);
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}

.horizontal {
  /* помогает создавать более гибкие макеты */
  display: flex;
  height: 50px;
  align-items: center;
  /* Отвечает за выравнивание элементов по главной оси */
  justify-content: space-around;
}

.vertical {
  display: flex;
  height: 200px;
  /* меняет ось элементов */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.block {
  height: 100px;
  width: 100px;
  /* будет ли сжиматся элемент или нет */
  flex-shrink: 0;
  /* элемент занимает всю ширину экрана при переносе */
  flex-grow: 1;
}

.container {
  display: flex;
  /* если не помещается, то переносит элемент с сохранением велечины */
  flex-wrap: wrap;
}

/* нормализирует стили */
/* <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous"
    /> */

.random_class {
  /* убирает видимость объекта */
  display: none;
  /* задаёт стиль текста */
  font-weight: 900;
  /* интервал между буквами */
  letter-spacing: 3px;
  /* интервал между словами */
  word-spacing: 5px;
  /* не переходит на новую строку */
  white-space: nowrap;
  /* то что не помещаеться, заменяться на точки */
  text-overflow: ellipsis;
  /* высота строки */
  line-height: 12px;
  /* убирает маркеры в списке */
  list-style-type: none;
  /* выравнивает картинку на фоне */
  background-position: center;
  /* линейный градиент (градус, от цвета, к цвету) */
  background-image: linear-gradient(45deg, yellow, red);
  /* делвет текст прозрачным */
  -webkit-text-fill-color: transparent;
  /* накладывает градиент на текст */
  -webkit-background-clip: text;
  /* картинка без повторений */
  background-repeat: no-repeat;
  /* важное объявление, будет применено выше прошлых объявлений*/
  background-color: blueviolet !important;
  /* лучше играть со специфичностю добавить к классу тэг */
}

/* <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Специфичность</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <style>
      * {
        box-sizing: border-box;
      }

      .main-img {
        max-width: 100%;
        border-radius: 20px;
        display: block;
        margin: 50px auto;
      }

      .gallery {
        display: flex;
      }

      .card {
      margin: 16px;
      box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
    }

    .caption {
      line-height: 30px;
      text-align: center;
      text-transform: lowercase;
    }

      .opacity {
        filter: opacity(50%);
      }

      .blur {
        filter: blur(4px);
      }

      .invert {
        filter: invert(100%);
      }
    </style>
  </head>

  <body>
    <div class="image-container">
      <img
        class="main-img"
        src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task1/big.jpeg"
        alt="nature"
      />
    </div>
    <div class="gallery">
      <figure class="card">
        <img
          class="opacity"
          src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task1/small.jpg"
          alt="small"
        />
        <figcaption>Opacity</figcaption>
      </figure>
      <figure class="card">
        <img
          class="blur"
          src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task1/small.jpg"
          alt="small"
        />
        <figcaption>Blur</figcaption>
      </figure>
      <figure class="card">
        <img
          class="invert"
          src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task1/small.jpg"
          alt="small"
        />
        <figcaption>invert</figcaption>
      </figure>
    </div>
  </body>
</html>
*/

/*
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Специфичность</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <style>
      .main-video {
        width: 500px;
        margin: 0 auto;
        margin-top: 200px;
        display: block;
      }
    </style>
  </head>

  <body>
    <video
      class="main-video"
      controls="controls"
      poster="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task2/poster.jpg"
    >
      <source
        src="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson15/task2/example.mp4"
      />
    </video>
  </body>
</html>
*/

/*
      <form>
      <div class="name-control">
        <input name="lastName" type="text" value="Emerson" />
      </div>
      <div class="age-control">
        <input type="number" name="age" value="17" />
      </div>
      <div class="agree-control">
        <input type="checkbox" name="agree" id="agree" />
        <label for="agree">Accept terms and conditions</label>
      </div>
      <div class="choose-gender">
        <input type="radio" name="gender" id="gender-male" checked />
        <label for="gender-male">Male</label>
        <input type="radio" name="gender" id="gender-female" />
        <label for="gender-female">Female</label>
        <input type="radio" name="gender" id="gender-secret" />
        <label for="gender-secret">Secret</label>
      </div>
      <div class="description-control">
        <textarea
          name="description"
          placeholder="Write description..."
        ></textarea>
      </div>
      <div class="submit-control">
        <button type="submit">Submit</button>
      </div>
    </form>
*/

/*
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forms</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <style>
      * {
        box-sizing: border-box;
      }

      form {
        margin: 32px;
      }

      div {
        margin: 8px;
      }
    </style>
  </head>

  <body>
    <form>
      <div class="form-control">
        <input type="text" name="primaryLanguage" value="HTML" disabled />
      </div>
      <div class="form-control">
        <input type="checkbox" name="agree" onclick="return false" />
      </div>
      <div class="form-control">
        <input type="checkbox" name="like" onclick="return false" checked />
      </div>
      <div class="form-control">
        <input type="color" name="favouriteColor" value="#ff7f50" />
      </div>
      <div class="form-control">
        <input type="date" name="birthDate" value="2021-01-02" />
      </div>
      <div class="form-control">
        <input
          type="datetime-local"
          name="birthTime"
          value="2024-10-04T13:02"
        />
      </div>
      <div class="form-control">
        <input
          type="email"
          name="email"
          placeholder="example@domain.com"
          required
        />
      </div>
      <div class="form-control">
        <input type="file" name="avatar" />
      </div>
      <div class="form-control">
        <input type="month" name="startLearning" value="2020-01" />
      </div>
      <div class="form-control">
        <input type="number" name="favouriteNumber" value="17" />
      </div>
      <div class="form-control">
        <textarea
          name="story"
          cols="30"
          rows="5"
          placeholder="A long time ago..."
        ></textarea>
      </div>
      <div class="form-control">
        <input type="password" name="password" value="secret" />
      </div>
      <div class="languages">
        <input type="radio" name="language" value="html" /> HTML
        <input type="radio" name="language" value="css" checked /> CSS
        <input type="radio" name="language" value="javascript" /> JavaScript
      </div>
      <div class="form-control">
        <input type="range" name="learningProgress" value="30" />
      </div>
      <div class="form-control">
        <select name="framework">
          <option value="react">React</option>
          <option value="jquery" selected>jQuery</option>
          <option value="bootstrap">Bootstrap</option>
        </select>
      </div>
      <div class="form-control">
        <input
          type="search"
          name="search"
          placeholder="Type first letters..."
        />
      </div>
      <div class="form-control">
        <input type="time" name="lunchEnd" value="14:01" />
      </div>
      <div class="form-control">
        <input
          type="url"
          name="website"
          placeholder="https://website.com"
          required
        />
      </div>
      <div class="form-control">
        <input type="week" name="birthWeek" value="2021-W51" />
      </div>
      <div class="form-control">
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
*/

/* Форма входа
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forms</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <style>
      * {
        box-sizing: border-box;
      }

      .page {
        background-color: bisque;
        height: 100vh;
        display: flex;
        font-family: monospace;
        font-size: 16px;
      }

      .login-form {
        background-color: aqua;
        width: 300px;
        padding: 16px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        margin: auto;
      }

      .form-title {
        text-align: center;
        text-transform: uppercase;
      }

      .form-control {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
      }

      .form-label {
        display: flex;
        margin-bottom: 4px;
      }

      .form-input {
        padding-left: 4px;
        width: 100%;
        height: 32px;
        outline: none;
        border-radius: 4px;
        border: 1px solid #808080;
      }

      .submit-button {
        width: 100%;
        height: 32px;
        background-color: #ff7f50;
        margin-top: 16px;
        color: white;
        text-transform: uppercase;
        border-radius: 4px;
      }

      .form-input:invalid {
        border: 3px solid #ff0000;
      }
    </style>
  </head>

  <body>
    <main class="page">
      <form class="login-form">
        <h1 class="form-title">Login</h1>
        <div class="form-control">
          <label class="form-label" for="email">Email</label>
          <input
            class="form-input"
            type="email"
            id="email"
            name="email"
            placeholder="mail@example.com"
            required
          />
        </div>
        <div class="form-control">
          <label class="form-label" for="userName">Full Name</label>
          <input class="form-input" type="text" id="userName" name="userName" />
        </div>
        <div class="form-control">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-input"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
        <button class="submit-button" type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
*/

/* работа с таблицами
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forms</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <style>
      * {
        box-sizing: border-box;
      }

      table {
        width: 500px;
        margin: 16px;
        border-collapse: collapse;
        line-height: 40px;
      }

      td,
      th {
        border: 1px solid black;
        padding: 4px;
        text-align: right;
      }

      div {
        overflow-x: auto;
      }

      thead {
        background-color: aqua;
      }

      tfoot {
        font-weight: 700;
      }

      caption {
        margin-bottom: 8px;
      }

      tbody > tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      tbody > tr:hover {
        color: white;
        background-color: #aaa;
      }
    </style>
  </head>

  <body>
    <div>
      <table>
        <caption>
          Shopping list
        </caption>
        <thead>
          <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Milk</td>
            <td>3</td>
            <td>$2</td>
            <td>$6</td>
          </tr>
          <tr>
            <td>Bread</td>
            <td>4</td>
            <td>$1</td>
            <td>$4</td>
          </tr>
          <tr>
            <td>Meat</td>
            <td>5</td>
            <td>$10</td>
            <td>$50</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td>$60</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
*/

/* доска
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess board</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <style>
      * {
        box-sizing: border-box;
      }

      table {
        margin: 16px;
        border: 1px solid black;
        border-collapse: collapse;
      }

      td {
        width: 50px;
        height: 50px;
      }

      .color-row:nth-child(odd) {
        background-color: white;
      }

      .color-row:nth-child(even) {
        background-color: black;
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td>8</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td>7</td>
      </tr>
      <tr>
        <td>6</td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td>6</td>
      </tr>
      <tr>
        <td>5</td>
        <td>class="color-row"</td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td>class="color-row"</td>
        <td class="color-row"></td>
        <td>5</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td class="color-row"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>4</td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>3</td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>2</td>
      </tr>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>1</td>
      </tr>
      <tr>
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
*/
