@import 'header.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: $header-height;
  background-color: $first-color;
}

.menu {
  display: flex;
  height: $header-height;
  margin-left: $header-height;
  margin-top: 0;
  margin-bottom: 0;
  color: $text-color;
  text-transform: uppercase;
  cursor: pointer;

  &__item {
    list-style-type: none;
    padding: 0 8px;

    &_active {
      color: $text-color-active;
    }
  }
}

.menu__item:hover {
  background-color: $hover-color;
}

.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: $second-color;
  color: $text-color;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  min-width: 120px;
  display: none;
  z-index: 1;

  &__item {
    padding: 8px;
    position: relative;

    &:hover {
      color: black;
    }
  }
}

.menu__item_active:hover .submenu {
  display: block;
}

.menu__item-text {
  line-height: $header-height;
}
