.action-button {
  background-color: #3040c4;
  width: 160px;
  height: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 2px;
}

@media screen and (min-width: 1400px) {
  .hide-desctop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide-mobile {
    display: none;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.article__text {
  margin: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 32px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: .features__subtitle 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__descriptions {
  margin: 0;
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-descriptions {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
}
.features__hr-blue {
  border-bottom: 3px solid #3142c6;
  margin: 20px 0;
}
.features__advantage-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  height: 166px;
  position: absolute;
  left: 0;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  font-size: 18px;
  line-height: 26px;
  margin-top: 26px;
  width: 360px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.footer-links {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
  }
}

.about-company {
  padding-top: 44px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    padding-top: 60px;
    margin-left: auto;
    flex-direction: row;
  }
}
.additional-navigation__column {
  margin-top: 30px;
}
@media screen and (max-width: 1399px) {
  .additional-navigation {
    margin-right: 29px;
    margin-top: 0;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    margin: 0 auto;
    height: 338px;
    display: flex;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__item {
  margin-right: 10px;
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 0;
  }
}
.terms__items {
  color: #2b292d;
  text-decoration: none;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0;
  }
}
.social-links__item {
  margin-left: 20px;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
  display: flex;
  margin: 0 auto;
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2b292d;
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  display: block;
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
}

.logo {
  display: flex;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    top: 0;
    right: -105px;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    margin-bottom: 0;
    height: 102px;
    width: 456px;
    font-size: 24px;
    line-height: 32px;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0;
  }
}
.headline__ln_button {
  background-color: #fff;
  width: 158px;
  height: 48px;
  color: #3040c4;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__ln_button {
    margin-left: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100% !important;
  }
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__descriptions {
  margin: 0;
  margin-top: 13px;
  font-size: 24px;
  line-height: 34px;
}
.tip_decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 30px;
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d;
  margin-top: 20px;
}

.inbox {
  padding: 50px 15px;
  background-color: #fcf0e3;
}
@media screen and (min-width: 1400px) {
  .inbox {
    margin-top: 103px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    padding: 115px 99px 101px 193px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__decoration {
    margin: 0;
    margin-right: 164px;
  }
}
.inbox__image {
  max-width: 100%;
}
.inbox__image-caption {
  display: none;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .inbox__image-caption {
    display: block;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1400px) {
  .inbox__container {
    display: flex;
    flex-direction: column;
  }
}
.inbox__subtitle {
  margin: 0;
  padding-top: 32px;
  color: #f1592b;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    padding-top: 0;
  }
}
.inbox__title {
  margin: 0;
  padding-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    padding-top: 24px;
    width: 462px;
  }
}
.inbox__text {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .inbox__text {
    padding-top: 30px;
    padding-bottom: 44px;
    width: 461px;
  }
}

.comment {
  margin: 0;
  padding: 30px 20px 28px 20px;
  width: 290px;
  background-color: #fff;
  border-bottom: 4px solid #0185d0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .comment {
    padding: 30px 30px 30px 24px;
    width: 519px;
  }
}
.comment__text {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  color: #2b292d;
}
.comment__text-bold {
  font-weight: 700;
}
.comment__box {
  margin: 0;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .comment__box {
    padding-top: 26px;
    padding-bottom: 0;
  }
}
.comment__illustration {
  width: 40px;
  height: 40px;
  margin-right: 11px;
}
.comment__commentator {
  font-size: 16px;
  line-height: 22px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .comment__commentator {
    margin: 0;
  }
}
.comment__commentator-bold {
  font-weight: 700;
}

.hiring {
  margin: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .hiring {
    margin: 106px 223px 110px 222px;
    display: flex;
    flex-direction: column;
  }
}
.hiring__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
.hiring__text {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .hiring__text {
    width: 555px;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}
.hiring__button {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .hiring__button {
    margin: auto;
    margin-top: 28px;
    width: 247px;
  }
}
.hiring__vacancies {
  margin-top: 39px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancies {
    margin-top: 110px;
  }
}
.hiring__vacancy {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancy {
    margin-top: 30px;
    height: 80px;
  }
}
.hiring__vacancy:first-child {
  margin-top: 0;
}

.vacancy {
  margin-top: 15px;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  color: #2b292d;
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  .vacancy {
    margin: auto;
    margin-top: 20px;
    width: 750px;
  }
}
.vacancy:first-child {
  margin-top: 0;
}
.vacancy:hover {
  background-color: #3141c5;
}
.vacancy:hover .vacancy__title {
  color: #fff;
}
.vacancy:hover .vacancy__location {
  color: #fff;
}
.vacancy:hover .vacancy__arrow-container {
  background-color: transparent;
}
.vacancy:hover .vacancy__arrow_rigth {
  width: 7px;
  height: 12px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
}
.vacancy__details {
  padding: 20px;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .vacancy__details {
    display: flex;
    align-items: center;
  }
}
.vacancy__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}
.vacancy__location {
  font-size: 16px;
  line-height: 22px;
  margin-top: 7px;
  color: #2b292d;
  opacity: 0.6;
}
@media screen and (min-width: 1400px) {
  .vacancy__location {
    max-width: 232px;
    flex: 1;
    margin-left: auto;
    margin-top: 0;
  }
}
.vacancy__arrow-container {
  background-color: #d5d4d5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
@media screen and (min-width: 1400px) {
  .vacancy__arrow-container {
    background-color: #fff;
  }
}
.vacancy__arrow_rigth {
  width: 7px;
  height: 12px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 550px;
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    margin: 0;
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin: 0;
    padding-top: 33px;
    text-align: left;
  }
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .order__terms {
    margin: 0;
    margin-top: 10px;
  }
}
.order__terms-link {
  color: #3142c6;
}

.communication {
  margin: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    margin: 110px 130px 110px 128px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__box {
    display: flex;
    align-items: flex-start;
  }
}
.communication__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
}
.communication__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    margin-top: 24px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    width: 462px;
  }
}
.communication__text {
  margin: 0;
  margin-top: 18px;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .communication__text {
    margin-top: 30px;
    width: 461px;
  }
}
.communication__button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__button {
    margin-top: 39px;
  }
}
.communication__decoration {
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .communication__decoration {
    margin-left: 193px;
  }
}
.communication__image {
  width: 290px;
}
@media screen and (min-width: 1400px) {
  .communication__image {
    width: 100%;
  }
}
.communication__image-caption {
  margin-top: 17px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  opacity: 0.6;
}
.communication__container {
  margin-top: 33px;
}

.communicate-article__line {
  margin: 0;
  margin-top: 40px;
  border: 1px solid #000;
  width: 150px;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .communicate-article__line {
    margin-top: 26px;
  }
}

.article-communicate {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .article-communicate {
    display: flex;
    margin-top: 41px;
  }
}
.article-communicate__description {
  margin: 0;
  margin-top: 33px;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .article-communicate__description {
    margin-top: 0;
    width: 360px;
    justify-content: space-between;
  }
}
.article-communicate__description:first-child {
  margin-top: 0;
}
@media screen and (min-width: 1400px) {
  .article-communicate__description:first-child {
    margin-top: 0;
  }
}
.article-communicate__description-bold {
  font-weight: 700;
}
.article-communicate__link {
  text-decoration: none;
  color: #3142c6;
  border-bottom: 1px solid #3142c6;
  font-weight: 700;
}

.audiences {
  background-color: #edf8fb;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .audiences {
    margin: 0;
    padding: 108px 130px 110px 130px;
  }
}
.audiences__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.audiences__title {
  margin: 0;
  padding-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audiences__title {
    display: flex;
    margin: auto;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    padding-top: 24px;
    max-width: 555px;
  }
}
.audiences__discription {
  margin: 0;
  padding-top: 18px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__discription {
    width: 555px;
    padding-top: 30px;
    display: flex;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .audiences__button-box {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}
.audiences__button {
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audiences__button {
    margin: 0;
    margin-right: 10px;
    width: 160px;
  }
}
.audiences__button-lm {
  background-color: #fff;
  margin-top: 12px;
  width: 100%;
  height: 48px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .audiences__button-lm {
    margin: 0;
    width: 160px;
    box-shadow: none;
  }
}
.audiences__box {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audiences__box {
    margin: 0;
    margin-top: 111px;
    display: flex;
    flex-grow: 1;
  }
}
.audiences__decoration {
  margin: 0;
  width: 290px;
  height: 300px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}
.audiences__decoration:first-child {
  margin-top: 0;
}
.audiences__decoration:hover {
  background-color: #3141c5;
  color: #fff;
}
@media screen and (min-width: 1400px) {
  .audiences__decoration {
    margin: 0;
    margin-right: 31px;
    width: 262px;
  }
  .audiences__decoration:last-child {
    margin-right: 0;
  }
}
.audiences__image {
  padding-top: 22px;
  max-width: 100%;
  display: flex;
  margin: auto;
}
.audiences__image-caption {
  padding-top: 22px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.feedback {
  border-bottom: 1px solid #e3e3e3;
  padding: 39px 15px 50px 15px;
}
@media screen and (min-width: 1400px) {
  .feedback {
    padding: 0 26px 0 130px;
    display: flex;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .feedback__container {
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
}
.feedback__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
}
@media screen and (min-width: 1400px) {
  .feedback__subtitle {
    text-align: center;
  }
}
.feedback__description {
  margin: 0;
  margin-top: 29px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .feedback__description {
    width: 750px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.feedback__author {
  margin: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 1400px) {
  .feedback__author {
    margin-top: 34px;
    text-align: center;
  }
}
.feedback__author-position {
  font-weight: 100;
}
.feedback__image {
  width: 290px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    margin: 0;
    margin-top: 90px;
    width: 273px;
  }
}

.switch {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .switch {
    margin-top: 38px;
  }
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2b292d;
  opacity: 0.2;
  margin-right: 19.5px;
  margin-bottom: 66px;
}
@media screen and (min-width: 1400px) {
  .circle {
    height: 8px;
    width: 8px;
    margin-right: 13px;
  }
}
.circle:last-child {
  margin-right: 0;
}
.circle_selected {
  background-color: #3141c5;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
