$text-color-green: #009b4d;
$text-color-light-grey: #2b292d;
$text-color-blue: #3142c6;
$text-color-orange: #f1592b;
$text-color-white: #fff;
$text-color-light-blue: #0189d1;
$text-color-black: #000;

$color-light: #f4f5f7;
$color-dark: #2b292d;
$color-white: #fff;
$color-ping: #fcf0e3;
$color-dark-blue: #3141c5;
$color-grey: #d5d4d5;
$color-light-blue: #00a1c6;

$border-color: rgba(43, 41, 45, 0.2);
$border-line-color: #0185d0;
