.hiring {
  margin: 50px 15px;

  @include for-large-up {
    margin: 106px 223px 110px 222px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.357143px;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0;
    margin-top: 18px;

    @include for-large-up {
      width: 555px;
      margin: auto;
      margin-top: 20px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__button {
    margin-top: 30px;
    width: 100%;

    @include for-large-up {
      margin: auto;
      margin-top: 28px;
      width: 247px;
    }
  }

  &__vacancies {
    margin-top: 39px;

    @include for-large-up {
      margin-top: 110px;
    }
  }

  &__vacancy {
    margin-top: 15px;

    @include for-large-up {
      margin-top: 30px;
      height: 80px;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.vacancy {
  margin-top: 15px;
  border: 1px solid $border-color;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  color: $text-color-light-grey;
  overflow: hidden;

  @include for-large-up {
    margin: auto;
    margin-top: 20px;
    width: 750px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background-color: $color-dark-blue;

    .vacancy__title {
      color: $text-color-white;
    }

    .vacancy__location {
      color: $text-color-white;
    }

    .vacancy__arrow-container {
      background-color: transparent;
    }

    .vacancy__arrow_rigth {
      width: 7px;
      height: 12px;
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png');
    }
  }

  &__details {
    padding: 20px;
    flex: 1;

    @include for-large-up {
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $text-color-light-grey;
  }

  &__location {
    font-size: 16px;
    line-height: 22px;
    margin-top: 7px;
    color: $text-color-light-grey;
    opacity: 0.6;

    @include for-large-up {
      max-width: 232px;
      flex: 1;
      margin-left: auto;
      margin-top: 0;
    }
  }

  &__arrow-container {
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    @include for-large-up {
      background-color: $color-white;
    }
  }

  &__arrow_rigth {
    width: 7px;
    height: 12px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
  }
}
